* {
  display: flex;
  flex-direction: column;
  background-color: black;
}

img {
  width: 50px;
  height: 50px;
  margin-top: auto;
}

.container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 450px;
}

.estilo-container {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1px);
}

h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
  color: white;
  background: none;
}

.campos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: none;
}

input {
  padding: 10px 10px;
  margin: 10px 10px;
  width: 300px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: white;
}

.estilo-boton {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px 10px;
  padding: 20px;
  width: 325px;
  height: 40px;

  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  background-color: #3b0855; /*sin fondo el boton*/
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* esto hace que los bordes sean luminosos*/
  opacity: 1;
  transition: 0.5s;
}

.estilo-boton:hover {
  opacity: 0.5;
}

.ayuda {
  background: local;
  text-decoration: none;
  margin-left: 170px;
  color: white;
  opacity: 0.5;
  transition: 0.3;
}

.ayuda:hover {
  opacity: 1;
}
