body {
  background: linear-gradient(45deg, black, #3b0855, #852467, #fd8083);

  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
}

.contenedor-barra {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.logo {
  width: 70px;
  height: 70px;
  margin-right: 500px;
  margin-left: -250px;
  margin-top: 10px;
}

.custom-button {
  background-color: none; /*sin fondo el boton*/
  color: white;
  padding: 15px 25px; /*Agrega espacio alrededor del texto*/
  text-decoration: none;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* esto hace que los bordes sean luminosos*/
  margin-right: 20px;
}

.contenedor-presentacion {
  display: flex;
  justify-content: start;
  margin-left: 50px;
  margin-top: 30px;
  width: 500px;
}

h2 {
  color: white;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}

.presentacion {
  color: white;
  text-align: center justify;
  font-size: medium;
}
